body{
    background-color: #121212;
    box-sizing: border-box;
}

.main__nav{
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 0;
    z-index: 1000; */
    background-color: #121212;
    box-shadow: 0 3px 15px black;
}
.nav__heading{
    /* border: 1px solid red; */
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: #bb86fc;
    padding: 3px;
    /* border-bottom: 5px solid white; */
    position: relative;
}
.nav__heading:hover{
    cursor: pointer;
}
.nav__heading::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #bb86fc;
    border-radius: 100px;
}
.Search{
    /* border: 1px solid red; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__search{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search__input{
    flex-grow: 1;
    height: 50px;
    /* box-shadow: 0 0 10px white; */
    padding: 10px;
}       

.search__button{
    width: 70px;
    height: 50px;
    background-color: #bb86fc;
    border: none;
    /* box-shadow: 0 0 10px #bb86fc; */
}
.search__button:hover{
    cursor: pointer;
}
.main__movie__box{
    /* border: 1px solid red; */
    width: 100%;
    /* padding: 10px; */
}
.movie__box{
    /* border: 1px solid white; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
.movie__item{
    background-color: #03DAC6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    margin: 10px;

}
.movie__item:hover{
    cursor: pointer;
}
.movie__poster{
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
.movie__poster img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;  
}
.movie__title{
    color: #121212;
    font-size: 18px;
    /* background-color: #fff; */
}

/*Single Movie from here------------------------------------------------------------------------------------*/
.single__main__movie__box{
    /* border:1px solid white; */
    padding: 10px;
    /* width: 100%; */
    /* margin: none; */
    margin-bottom: 40px;
}
.single__movie__box{
    /* border: 1px solid red; */
    width: 70%;
    margin: auto;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 0 10px black;
 
}

.single__movie__item{
    /* width: 100%; */
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 10;
}
.single__movie__poster{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    /* width: 600px; */
    padding: none;
    object-fit: cover;

}
.single__movie__img{
    width: 100%;
    height:100%;
    /* border: 1px solid red; */
    object-fit: cover;
}

.single__movie__title{
    /* border: 1px solid red; */
    flex-grow: 1;
    padding-left: 20px;
    /* width: 100%; */
    height: 450px;
    font-size: 1.5rem;
    color:#03DAC6;
}
.single__movie__genre{
    /* border: 1px solid red; */
    display: inline-block;
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: #03DAC6;
    /* box-shadow: 0 0 10px black; */
}
.single__movie__rating{
    margin-left: 10px;
    font-size: 1rem;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px black;
}

@media only screen and (max-width: 600px){
    .single__movie__item{
        flex-direction: column;
    }
    .single__movie__title{
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .single__movie__item{
        flex-direction: column;
    }
    .single__movie__title{
        font-size: 18px;
    }
}